* {
    margin: 0;
    padding: 0;
 }

 .form-inline {
 	display: inline-flex;
 	flex-wrap: nowrap;
 	justify-content: center;
 }

#button-orange {
	display: flex;
	margin: auto;
	background-color: rgba(245,166,35,1);
	border-color: rgba(245,166,35,1);
	color: white;
	/*width: 228px;
	height: 60px;*/
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#button-lime-green {
	background-color: rgba(222,255,6,1);
	border-color: rgba(222,255,6,1);
	color: rgba(117,117,117,1);
	width: 110px;
	height: 44px;
}

p {
	text-align: center;
}

/*#top_background_image img {
	max-width: 1440px;
	max-height: 612px;
	width: 100%;
	height: 100%;
}

#top_background_image {
	background-image: linear-gradient(rgba(255, 210, 0, 1), rgba(247, 151, 30, 0.984313725490196));
}*/

nav.navbar {
	padding: 25px 50px 0px 60px;
}

a.navbar-brand {
	font-size: 24px;
	font-weight: bold;
}

a.nav-link {
	color: white;
}

#findyourdreamcar h1 {
	/*margin-top: 125px;*/
	display: flex;
	justify-content: center;
	color: white;
	font-size: 54px;
	font-family: Poppins;
	font-weight: bold;
	padding-top: 140px;
}

#findyourdreamcar p {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 20px;
	font-family: Poppins;
}

#second_line {
	margin-top: -10px;
}

#bottom_background_image img {
	max-width: 1440px;
	max-height: 348px;
	width: 100%;
	height: 100%;
}

#bottom_background_image {
	background-image: linear-gradient(rgba(255, 210, 0, 1), rgba(247, 151, 30, 0.984313725490196));
}

#Mercedes_Benz img {
	width: 100%;
	height: 100%;
	max-width: 679px;
	max-height: 314px;
	margin-top: -130px;
}

#top_image {
	background-image: url(./images/Background_A0_Group_41_pattern.png), linear-gradient(rgba(255, 210, 0, 1), rgba(247, 151, 30, 0.984313725490196));
	background-position: center;
	height: 612px;
}

 /*.picrture {
 	background: url(./images/Background_A0_Group_41_pattern.png);
 	height: 400px;
 	width: 100%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	position: absolute;
 	opacity: 1;
 }

 .color-overlay {
 	width: 100%;
 	height: 100%;
 	background: linear-gradient(rgba(255, 210, 0, 1), rgba(247, 151, 30, 0.984313725490196));
 	position: absolute;
 	opacity: 0.4;
 }
 */

 .Our-Buyers-Check-List {
 	background: url(./images/Rectangle_4_A0_Rectangle_20_pattern.png);
 	background-size: cover;
  	width: 400px;
 	height: 200px;
  	margin: 10px 0 0 10px;
  	position: relative;
  	float: left;
 }

.Our-Buyers-Check-List p,
 .How-To-Spot-Fraud p,
 .Best-Used-Cars-2018 p {
	padding: 20px;
	color: white;
	font: 24px Poppins;
	font-weight: bold;
	margin: 0;
	padding-top: 150px;
}

.How-To-Spot-Fraud {
 	background: url(./images/Rectangle_4_A0_Rectangle_22_pattern.png);
 	background-size: cover;
  	width: 400px;
 	height: 200px;
  	margin: 10px 0 0 10px;
  	position: relative;
  	float: left;
 }

 .Best-Used-Cars-2018 {
 	background: url(./images/Rectangle_4_A0_Rectangle_24_pattern.png);
 	background-size: cover;
  	width: 400px;
 	height: 200px;
  	margin: 10px 0 0 10px;
  	position: relative;
  	float: left;
 }



@media (min-width: 300px) {
	/*#header {
		display: block;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 1px;
 	}

 	#header p {
 		text-align: center;
        margin-bottom: 0;
 	}

 	#header nav a {
        background-color: #CBCBCB;
        color: black;
        display: block;
        padding: 0;
        text-decoration: none;
        font-size: 1.1em;
    }
  
    #header ul {
        list-style-type: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }
  
    #header nav li {
        font-size: 1.2em;
        line-height: 40px;
		height: 40px;
        border: 1px solid black;
    }
    */

/*
    .background-header-image {
    	background: linear-gradient(rgba(255, 210, 0, 1), rgba(247, 151, 30, 0.984313725490196), url(./images/Background_A0_Group_41_pattern.png));
    }

    .background-linear-gradient {
    	background: linear-gradient(rgba(255, 210, 0, 1), rgba(247, 151, 30, 0.984313725490196), url(./images/Background_A0_Group_41_pattern.png));
    }
*/

    /*#findyourdreamcar h1,p {
	    display: flex;
	    justify-content: center;
    }*/

    #findyourdreamcar input .search_make_or_model {
    	display: inline-flex;
    	text-align: center;
    }
	
	#findyourdreamcar input .postcode {
		display: inline-flex;
		justify-content: center;
	}

	#findyourdreamcar button .find_my_car {
		display: inline-flex;
		justify-content: center;
	}

	img {
 		display: flex;
    	margin: auto;
 	}

	h3, h4 {
		text-align: center;
	}

	.cars-container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .cars-container img {
    	width: 400px;
        height: 250px;
        margin-top: 15px;
    }

    .cars-container p {
    	font-size: 1.5em;
    }

    .guides {
    	display: flex;
    	flex-wrap: wrap;
    	text-align: center;
    	justify-content: center;
    }

    .guides img {
    	width: 400px;
        height: 200px;
        margin-top: 15px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}