@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
 }

 .form-inline {
 	display: inline-flex;
 	flex-wrap: nowrap;
 	justify-content: center;
 }

#button-orange {
	display: flex;
	margin: auto;
	background-color: rgba(245,166,35,1);
	border-color: rgba(245,166,35,1);
	color: white;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
}

#button-lime-green {
	background-color: rgba(222,255,6,1);
	border-color: rgba(222,255,6,1);
	color: rgba(117,117,117,1);
	width: 110px;
	height: 44px;
}

p {
	text-align: center;
	font-family: Poppins, sans-serif;
	font-size: 20px;
	color: rgba(105,105,105,1);
}

.cars-container p {
	font-size: 24px;
	color: black;
	font-weight: bold;
}

nav.navbar {
	padding: 25px 50px 0px 60px;
}

a.navbar-brand {
	font-size: 24px;
	font-weight: bold;
}

a.nav-link {
	color: white;
}

#findyourdreamcar h1 {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 54px;
	font-family: Poppins, sans-serif;
	font-weight: bold;
	margin-top: -225px;
}

#findyourdreamcar p {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 20px;
	font-family: Poppins, sans-serif;
}

#Mercedes_Benz img {
	width: 100%;
	height: 100%;
	max-width: 679px;
	max-height: 314px;
	margin-top: -130px;
}

#top_image {
	background-image: url(./images/Background_A0_Group_41_pattern.png), linear-gradient(rgba(255, 210, 0, 1), rgba(247, 151, 30, 0.984313725490196));
	background-size: cover;
	background-position: center;
	height: 612px;
	width: 100%;
}

#top_image #Search-Make-Or-Model input {
	width: 340px;
}

#top_image #Postcode input {
	width: 140px;
}

#bottom_image {
	background-image: url(./images/Section_Four_A0_Group_40_pattern.png), linear-gradient(rgba(255, 210, 0, 1), rgba(247, 151, 30, 0.984313725490196));
	background-size: cover;
	background-position: center;
	height: 348px;
	width: 100%;
}

#bottom_image h3 {
	color: white;
	font-weight: bold;
	font-family: Poppins, sans-serif;
	font-size: 40px;
	text-align: center;
	padding-top: 70px;
}

#bottom_image p {
	color: white;
	font-family: Poppins, sans-serif;
	font-size: 20px;
	padding-top: 20px;
}

#bottom_image input {
	width: 500px;
	padding: 20px;
	margin-top: 20px;
}

#bottom_image button {
	margin-top: 20px;
}

.Our-Buyers-Check-List {
 	background: url(./images/Rectangle_4_A0_Rectangle_20_pattern.png);
 	background-size: cover;
  	width: 400px;
 	height: 200px;
  	margin: 10px 0 0 10px;
  	position: relative;
  	float: left;
}

.Our-Buyers-Check-List p,
 .How-To-Spot-Fraud p,
 .Best-Used-Cars-2018 p {
	padding: 20px;
	color: white;
	font: 24px Poppins, sans-serif;
	font-weight: bold;
	margin: 0;
	padding-top: 150px;
}

.How-To-Spot-Fraud {
 	background: url(./images/Rectangle_4_A0_Rectangle_22_pattern.png);
 	background-size: cover;
  	width: 400px;
 	height: 200px;
  	margin: 10px 0 0 10px;
  	position: relative;
  	float: left;
 }

 .Best-Used-Cars-2018 {
 	background: url(./images/Rectangle_4_A0_Rectangle_24_pattern.png);
 	background-size: cover;
  	width: 400px;
 	height: 200px;
  	margin: 10px 0 0 10px;
  	position: relative;
  	float: left;
 }

 .bottom_nav {
 	text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgba(52,44,44,1);
    height: 98px;
}

.bottom_nav h4 {
    text-align: left;
    margin: 40px 0px 0px 50px;
    color: white;
    font-family: Rubik;
    font-size: 24px;
    font-weight: bold;
}
  
.bottom_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
  
.bottom_nav li {
    display: inline-flex;
}

.bottom_nav a {
	margin: 40px 60px 0 0;
    display: inline-flex;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

#top_image nav a:hover {
	color: rgba(222,255,6,1);
}

.bottom_nav a:hover {
  color: rgba(222,255,6,1);
}

#findyourdreamcar {
	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
  	text-align: center;
}

img {
	display: flex;
   	margin: auto;
}

h3, h4 {
	text-align: center;
}

#Hottest-Deals, #Our-Top-Buying-Tips {
	font-family: Poppins, sans-serif;
	font-weight: bold;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 35px;
}



.cars-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.cars-container img {
    width: 299px;
    height: 188px;
    margin-top: 15px;
    background-color: #E5E5E5;
    padding: 20px;
    margin: 20px;
    align-items: center;
}

.cars-container p {
    font-size: 1.5em;
}

.img {
	z-index: 2;
	position: relative;
}

.square {
      width: 80px;
      height: 25px;
      background: rgba(245,166,35,1);
      z-index: 20;
      position: absolute; 
      margin: 50px 0px 0px 249px;
    }

.square2 {
	width: 0;
      height: 0;
      border-top: 10px solid rgba(184,124,23,1);
      border-right: 10px solid transparent;
      position: absolute;
      z-index: 10; 
      margin: 75px 0px 0px 319px;
}
span {
	color: white;
	text-align: center;
	font-size: 15px;
	font-family: Poppins, sans-serif;
	font-weight: bold;
}






.guides {
  	display: flex;
   	flex-wrap: wrap;
   	text-align: center;
   	justify-content: center;
}

.guides img {
   	width: 400px;
    height: 200px;
    margin-top: 15px;
}

@media (min-width: 320px) {
	#findyourdreamcar h1 {
		display: flex;
		justify-content: center;
		color: white;
		font-size: 40px;
		font-family: Poppins, sans-serif;
		font-weight: bold;
		margin-top: -225px;
	}

	#findyourdreamcar p {
		display: flex;
		justify-content: center;
		color: white;
		font-size: 15px;
		font-family: Poppins, sans-serif;
	}

	#bottom_image input {
		width: 340px;
	}
}

@media (min-width: 768px) {
	#findyourdreamcar h1 {
		display: flex;
		justify-content: center;
		color: white;
		font-size: 54px;
		font-family: Poppins, sans-serif;
		font-weight: bold;
		margin-top: -225px;
	}

	#findyourdreamcar p {
		display: flex;
		justify-content: center;
		color: white;
		font-size: 20px;
		font-family: Poppins, sans-serif;
	}

	#bottom_image input {
		width: 500px;
	}
}

@media (min-width: 1024px) {

}